<div id="content-below-bar">
  <h3>Find by Name in <%= @zip.zip %></h3>
  <% @zip.restaurants.sort {|a,b| a.name <=> b.name}.each do |r| %>
  <%= link_to r.name, restaurant_path(r) %><br>
  <% end %>

  <h3>Most Common Violations in this Zipcode</h3>
  <ul>
  <% @zip.most_common_vios.each do |v| %>
  <li>Found in <%= v[1] %> restaurants: <%= link_to "#{v[0].description}", violation_path(v) %></li>
  <% end %>
  </ul>

  <% @zip.restaurants.sort {|a,b| b.score <=> a.score}.each do |r| %>
  <h2 id="<%= r.name %>"><%= r.name %></h2>
  <h3><%= r.phone_num %></h3>
  <a href="/<%= r.zip %>"><h3><%= r.address %></h3></a>
  <% r.cuisines.each do |c| %>
    <a href="/cuisine/<%=c.id%>"><h3><%= c.description %></h3></a>
  <% end %>
  <h3><%= 
    if r.grade == "B"
      image_tag 'b.jpg'
    elsif r.grade == "C"
      image_tag 'c.jpg'
    else
      image_tag 'pending.jpg'
    end %>
    Violation points: <%= r.score %>
  </h3>
  <ol>
    <% r.violations.each do |vio| %>
      <li><a href="/violation/<%=vio.id%>"><%= vio.description %></a></li>
    <% end %>
  </ol><br>
  <% end %>
</div>
