<div id="content-below-bar">
  <h3>Find by Name in <%= @zip.zip %></h3>
  <% Restaurant.zip_list(@zip.zip).sort {|a,b| a.name <=> b.name}.each do |r| %>
  <a href="<%= "/restaurant/#{r.id}" %>"><%= r.name %></a><br>
  <% end %>

  <% Restaurant.zip_list(@zip.zip).sort {|a,b| b.score <=> a.score}.each do |r| %>
  <h2 id="<%= r.name %>"><%= r.name %></h2>
  <h3><%= r.phone_num %></h3>
  <a href="/<%= r.zip %>"><h3><%= r.address %></h3></a>
  <% r.cuisines.each do |c| %>
    <a href="/cuisine/<%=c.id%>"><h3><%= c.description %></h3></a>
  <% end %>
  <h3><%= 
    if r.grade == "B"
      image_tag 'b.jpg'
    elsif r.grade == "C"
      image_tag 'c.jpg'
    else
      image_tag 'pending.jpg'
    end %>
    Violation points: <%= r.score %>
  </h3>
  <ol>
    <% r.violations.each do |vio| %>
      <li><a href="/violation/<%=vio.id%>"><%= vio.description %></a></li>
    <% end %>
  </ol><br>
  <% end %>
</div>