<div id="content-below-bar">
  <div class="medium-2 columns">
    <h3>Find by Name in <%= @zip.zip %></h3>
    <% @zip.restaurants.sort {|a,b| a.name <=> b.name}.each do |r| %>
    <%= link_to r.name, restaurant_path(r), 'data-no-turbolink' => true %><br>
    <% end %>
  </div>

  <div class="medium-10 columns">
    <div>
      <div class="medium-6 columns">
        <h3>Most Common Violations in <%= @zip.zip %></h3>
        <ul>
        <% @zip.most_common_vios.each do |v| %>
        <li>Found in <span class="blue"><%= v[1] %></span> restaurants: <span class="blue"><%= link_to v[0].description, violation_path(v[0]) %></span></li>
        <% end %>
        </ul>
      </div>
      <div class="medium-6 columns">
        <div id="map-canvas"></div>
      </div>
    </div>
    <div class="medium-12 columns">
      <h3>Worst Scoring Restaurants in <%= @zip.zip %></h3><br/>
      <% @zip.restaurants.sort {|a,b| b.score <=> a.score}.each do |r| %>
      <h3 id="<%= r.name %>"><%= link_to r.name, restaurant_path(r), 'data-no-turbolink' => true %></h3>
      <h4><%= r.phone_num %></h4>
      <a href="/<%= r.zip %>"><h4><%= r.address %></h4></a>
      <% r.cuisines.each do |c| %>
        <a href="/cuisine/<%=c.id%>"><h3><%= c.description %></h3></a>
      <% end %>
      <h3><%= 
        if r.grade == "B"
          image_tag 'b.jpg'
        elsif r.grade == "C"
          image_tag 'c.jpg'
        else
          image_tag 'pending.jpg'
        end %>
        Violation points: <%= r.score %>
      </h3>
      <ol>
        <% r.violations.each do |vio| %>
          <li><a href="/violations/<%=vio.id%>"><%= vio.description %></a></li>
        <% end %>
      </ol><br>
      <% end %>
    </div>
  </div>
</div>
