<head>
   <link href='/profiles.css' rel='stylesheet' type='text/css'>
</head>
  <title>
    <%=@cuisine.description%>
  </title>
</head>

  <body>
  <div id="form">
    <%= render "pages/form" %>
  </div>
  <div class="_page">
    <h2>Cuisine: <%= @cuisine.description %></h2>

    <h2>Restaurants</h2>
    <% hash = @cuisine.restaurants.group_by {|r| r.zip} %>
    <% hash.sort.each do |k, v|%>
    <br/>
    <span class= "bold"><a href="/<%=k%>"><%= k %></a><br/></span>
      <%v.each do |r|%>
        <%= link_to r.name, restaurant_path %><br/>
      <%end%>
    <%end%>
    </ul>
  </div>
  <%= link_to "Cuisine Index", cuisines_path %>
  
</body>
