<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, value: @user.name %>
  <br>
  <%= f.label :email %>
  <%= f.text_field :email, value: @user.email %>
  <br>
  <%= f.label :password %>
  <%= f.text_field :password, value: @user.password %>
  <br>
  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation, value: @user.password_confirmation %>
  <br>    
  <label for="zipcode_list">Add your favorite zipcode(s), separated by commas.</label>
  <%= f.text_field :zipcode_list, value: @user.zipcodes_as_a_string %>
  <br>
  <%= f.hidden_field :location, value: @user.location %>
  <%= f.hidden_field :image_url, value: @user.image_url %>
  <%= f.hidden_field :facebook_id, value: @user.facebook_id %>
  <button class="button">Submit</button>
<% end %>