<%= form_for @user do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :email %>
<%= f.text_field :email %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>
<br>
<label for="zipcode_list">Favorite zipcode(s), separated by commas.</label>
<%= f.text_field :zipcode_list %>

<br>
<button class="button">Submit</button>
<% end %>