<div class="medium-7 columns">
  <%= render 'errors' %>
  <h1>Hey, <%= @user.name %>.  Edit your profile here.</h1>
  <%= render 'form' %>
  <%= link_to "Back to my profile", @user, :class => "button" %>
  <%= link_to "Delete my account", destroy_user_path(@user), :class => "button", method: 'delete' %>
</div>