<div class="medium-7 columns">
  <%= render 'errors' %>
  <h1>Hey, <%= @user.name %>.</h1>
  <h2>Edit your profile here.</h2>
  <%= render 'form' %>
  <%= link_to "Back to my profile", @user, :class => "button" %>
  <%= link_to "Delete my account", destroy_user_path(@user), :class => "button alert", method: 'delete' %>
</div>