<div class="medium-8 columns">
  <%= render 'errors' %>

  <h2><%= @user.name %></h2>
  <%= @user.email %>
<div class="row">
  <h2>Zipcode Watchlist</h2>
  <% if @user.zipcodes.length == 0 %>
    <p class="zips_empty">You have no zipcodes on your watchlist.</p>
  <% else %>
    <ul>
      <% @user.zipcodes.each do |zip| %>
        <div class="whole_zip">
          <%= content_tag "div", class: "row large-4 columns", data: {zips: current_user.zipcodes} do %>
            <%= link_to zip.zip, zip_path(zip), 'data-no-turbolink' => true, :class => "large-3 columns" %>
            <%= link_to "✖", remove_zip_path(zip), remote: true, :class => "tiny alert round button large-1 columns", :method => :get %>
          <% end %>
        </div>
      <% end %>
    </ul>
  <% end %>
</div>
<div class="row">
  <h2>Restaurant Watchlist</h2>
  <% if @user.restaurants.length == 0 %>
   <p>You have no restaurants on your watchlist.</p>
  <% else %>
  <ul>
    <% @user.restaurants.each do |restaurant| %>
    <div class="whole_rest">
        <li><%= link_to restaurant.name, restaurant_path(restaurant), 'data-no-turbolink' => true %>
      <%= button_to "✖", remove_restaurant_from_profile_path(restaurant.id), remote: true, :class => "tiny alert round", :method => :get %></li>
      <% end %>
    </div>
  </ul>
  <% end %>
</div>
<div class="row">
  <h2>Violation Watchlist</h2>
  <% if @user.violations.length == 0 %>
   <p>You have no violations on your watchlist.</p>
  <% else %>
  <ul>
    <% @user.violations.each do |violation| %>
    <div class="whole_vio">
        <li><%= link_to violation.vio_code, violation_path(violation), 'data-no-turbolink' => true %>
      <%= button_to "✖", remove_violation_from_profile_path(violation.id), remote: true, :class => "tiny alert round", :method => :get %></li>
      <% end %>
    </div>
  </ul>
  <% end %>
</div>
  <p><%= link_to "Edit Your Profile", edit_user_path(@user), :class => "button" %>  <%= link_to "Go to Homepage", root_path, :class => "button" %></p>
</div>