<h2><%= @user.name %></h2>
<br>
<%= @user.email %>

<h2>Zipcodes</h2>
<ul>
<% @user.zipcodes.each do |zip| %>
  <li><%= link_to zip.zip, zip_path(zip) %></li>
<% end %>
</ul>

<h2>Restaurants</h2>
<% if @user.restaurants.length == 0 %>
 <%= link_to "Add restaurants to your watch list", restaurants_path %>
<% else %>
<ul>
<% @user.restaurants.each do |restaurant| %>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
<% end %>
</ul>
<% end %>

<h2>Cuisines</h2>
<ul>
<% @user.cuisines.each do |cuisine| %>
  <li><%= link_to cuisine.description, cuisine_path(cuisine) %></li>
<% end %>
</ul>

<%= link_to "Edit Your Profile", edit_user_path(@user) %>
<%= link_to "Go to Homepage", root_path %>
