<div class="medium-12 columns">
  <%= render 'errors' %>

  <h2 class="centered"><%= @user.name %></h2>
  <h4 class="centered"><%= @user.email %></h4>
<div class="row">
  <h3>Zipcode Watchlist</h3>
  <% if @user.zipcodes.length == 0 %>
    <p class="empty">Empty</p>
  <% else %>
      <% @user.zipcodes.each do |zip| %>
        <div class="whole row large-4 columns">
          <%= content_tag "div", class: "row large-4 columns", data: {zips: current_user.zipcodes} do %>
            <%= link_to zip.zip, zip_path(zip), 'data-no-turbolink' => true, :class => "large-3 columns" %>
            <%= link_to "✖", remove_zip_path(zip), remote: true, :class => "tiny alert round large-1 columns", :method => :get %>
          <% end %>
        </div>
        <br>
      <% end %>
  <% end %>
</div>

<div class="row">
  <h3>Violation Watchlist</h3>
  <% if @user.violations.length == 0 %>
   <p class="empty">Empty</p>
  <% else %>
    <% @user.violations.each do |violation| %>
    <div class="whole row large-4 columns">
      <%= link_to violation.vio_code, violation_path(violation), 'data-no-turbolink' => true, :class => "large-3 columns" %>
      <%= link_to "✖", remove_violation_from_profile_path(violation.id), remote: true, :class => "tiny alert round large-1 columns", :method => :get %>
    </div>
    <br>
      <% end %>
  <% end %>
</div>
<div class="row">
  <h3>Restaurant Watchlist</h3>
  <% if @user.restaurants.length == 0 %>
   <p class="empty">Empty</p>
  <% else %>
    <% @user.restaurants.each do |restaurant| %>
    <div class="whole row large-6 columns">
      <%= link_to restaurant.name, restaurant_path(restaurant), 'data-no-turbolink' => true , :class => "medium-10 columns" %>
      <%= link_to "✖", remove_restaurant_from_profile_path(restaurant.id), remote: true, :class => "tiny alert round large-1 columns", :method => :get %>
    </div>
    <br>
    <% end %>
  <% end %>
</div>
<br>
  <p class="row centered"><%= link_to "Edit Your Profile", edit_user_path(@user), :class => "button user_show" %>  <%= link_to "Go to Homepage", root_path, :class => "button user_show" %></p>
</div>