<div class="medium-6 columns">
  <%= render 'errors' %>

  <h2><%= @user.name %></h2>
  <%= @user.email %>

  <h2>Zipcode Watchlist</h2>
  <% if @user.zipcodes.length == 0 %>
    <p>You have no zipcodes on your watchlist.</p>
  <% else %>
    <ul>
      <% @user.zipcodes.each do |zip| %>
      <div class="whole_zip">
        <div class="medium-3 columns">
              <%= link_to zip.zip, zip_path(zip.id), 'data-no-turbolink' => true %>
        </div>
        <!-- <div class="medium-9 columns"> -->
        <%= button_to "✖", remove_zip_path(zip.id), remote: true, :class => "tiny alert round zip_remove", :method => :get %>
        <!-- </div> -->
      </div>
      <% end %>
    </ul>
  <% end %>

  <h2>Restaurant Watchlist</h2>
  <% if @user.restaurants.length == 0 %>
   <p>You have no restaurants on your watchlist.</p>
  <% else %>
  <ul>
    <% @user.restaurants.each do |restaurant| %>
    <div class="whole_rest">
        <li><%= link_to restaurant.name, restaurant_path(restaurant), 'data-no-turbolink' => true %>
      <%= button_to "✖", remove_restaurant_from_profile_path(restaurant.id), remote: true, :class => "tiny alert round rest_remove", :method => :get %></li>
      <% end %>
    </div>
  </ul>
  <% end %>

  <p><%= link_to "Edit Your Profile", edit_user_path(@user), :class => "button" %>  <%= link_to "Go to Homepage", root_path, :class => "button" %></p>
</div>