<div class="medium-12 columns">
  <h2>Violation <%= @violation.vio_code %></h2>
  <h3><%= @violation.description %></h3>
  <% if @violation.critical_vio == true %>
    <h1 class="red">This violation is critical</h1>
  <% end %>
  <br>
  <div class="row">
    <% if current_user == nil || !current_user.violations.include?(@violation) %>
      <div class="medium-6 columns">
        <%= link_to "Add to Watchlist", add_violation_path(@violation.id), remote: true, class: "button add_vio_watchlist"%>
      </div>
    
      <div class="medium-6 columns">
          <%= link_to "Remove from Watchlist", remove_violation_path(@violation.id), remote: true, class: "button remove_vio_watchlist no_display" %>
      </div>
    <% else %>
      <div class="medium-6 columns">
        <%= link_to "Add to Watchlist", add_violation_path(@violation.id), remote: true, class: "button add_vio_watchlist no_display"%>
      </div>
    
      <div class="medium-6 columns">
          <%= link_to "Remove from Watchlist", remove_violation_path(@violation.id), remote: true, class: "button remove_vio_watchlist" %>
      </div>
    <% end %>
    <%= link_to "Violation Index", violations_path, :class => "button" %>
  </div>
  <div class="row">
    <div class="alert-box add_violation"><p> You have successfully subscribed!</p></div>
    <div class="alert-box remove_violation"><p> You have successfully unsubscribed!</p></div>
  </div>
  <br>
  <% if @violation.restaurants.length == 0 %>
    <h2>There are no restaurants with this violation.</h2>
  <% else %>
    <h2>Restaurants with this violation</h2>
    <% hash = @violation.restaurants.group_by {|r| r.zip} %>
    <% hash.sort.each do |k, v|%>
      <h4><%= link_to k, zip_path(k), 'data-no-turbolink' => true %></h4>
      <%v.each do |r|%>
        <%= link_to r.name, restaurant_path(r), 'data-no-turbolink' => true %><br/>
      <% end %><br/>
    <% end %>
  <% end %>
  <br/>
</div>

