<head>
  <title>
    HELP! Bad Restaurants in New York City
  </title>  
</head>

  <%= image_tag 'help_logo.jpg' %>

<% if signed_in? %>
<p><%= link_to "Log Out", "/sessions", :method => :delete %></p>
<p><%= link_to "My Profile", user_path(current_user)%></p>
<% else %>
<p><%= link_to "Log In", new_session_path %> or <%= link_to "Sign Up", new_user_path %></p>
<% end %>
