<%= content_tag :h3, link_to(restaurant.name, restaurant_path(restaurant), 'data-no-turbolink' => true), id: restaurant.name %>
<%= content_tag :h4, restaurant.phone_num %>
<%= content_tag :h4, restaurant.address %>
<% restaurant.cuisines.each do |c| %>
  <%= content_tag :h3, link_to(c.description, cuisine_path(c.id)) %>
<% end %>
<h3><%= 
  if restaurant.grade == "B"
    image_tag 'b.jpg'
  elsif restaurant.grade == "C"
    image_tag 'c.jpg'
  else
    image_tag 'pending.jpg'
  end %>
  Violation points: <%= restaurant.score %>
</h3>
<ol>
  <% restaurant.violations.each do |vio| %>
    <%= content_tag :li, link_to(vio.description, violation_path(vio.id)) %>
  <% end %>
</ol>
<br>