<div class="medium-7 columns">
  <% if flash[:notice] %>
    <div data-alert class="alert-box warning round">
      <%= flash[:notice] %>
    </div>
    <% flash.delete(:notice) %>
  <% end %>
  <%= search_form_for @search do |f| %>
    <%= f.label :name_cont, "Name Contains:" %>
    <%= f.text_field :name_cont %>
    <button class="button">Search Restaurants</button>
  <% end %>
</div>


<div class="medium-7 columns">  
  <% if params[:q] %>
    <div class="search">
      <% if @found_restaurants == [] %>
        <%= "Search returned 0 results" %>
      <% else %>
      <h2>Search Results</h2>
        <ol>
        <% @found_restaurants.each do |r| %>
          <li><%= link_to r.name, restaurant_path(r), 'data-no-turbolink' => true %></li>
        <% end %>
        </ol>
      <% end %>
    </div>
  <% end %>
</div>
