  
<%= search_form_for @search do |f| %>
  <%= f.label :name_cont, "Name Contains:" %>
  <%= f.text_field :name_cont %>
  <%= f.submit "Search Restaurants" %>
<% end %>

<% if params[:q] %>
<div class="search">
  <h2>Search Results</h2>
  <ol>
  <% @found_restaurants.each do |r| %>
    <li><%= link_to r.name, restaurant_path(r) %></li>
  <% end %>
  </ol>
<% end %>
</div>

<ul>
<% @restaurants.each do |r| %>
<li><%= link_to r.name, restaurant_path(r) %></li>
<% end %>
</ul>
