<div class="large-6 columns row collapse search_form">
  <h3 class="centered">Search by Restaurant</h3>
  <%= search_form_for @search do |f| %>
    <div class="small-8 columns">
    <%= f.text_field :name_cont, :placeholder => "Name Contains..." %>
    </div>
    <div class="small-4 columns">
    <%= f.submit 'Search', :class => "button postfix" %>  
    </div>
  <% end %>
</div>


<div class="medium-7 columns">  
  <% if params[:q] %>
    <div class="search">
      <% if @found_restaurants == [] %>
        <div data-alert class="alert-box success radius" style="display:block">Search returned 0 results</div>
      <% else %>
      <h2>Search Results</h2>
        <ol>
        <% @found_restaurants.each do |r| %>
          <li><%= link_to r.name, restaurant_path(r), 'data-no-turbolink' => true %>
            <ul><li><%= r.address%></li></ul>
          </li>
        <% end %>
        </ol>
      <% end %>
    </div>
  <% end %>
</div>
