
<head>
 <link href='/profiles.css' rel='stylesheet' type='text/css'>
    <title>
      <%= "#{@restaurant.name} -- HELP! Bad Restaurants in New York City" %>
    </title>
  <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALUMEVvLlZ-4U2LSSVm3LhwtjbIO223qY&sensor=false">
  </script>    
  </script>
  <% bad_r = @restaurant %>
  <% coords1 = Geocoder.coordinates(bad_r.address) %>

  <script type="text/javascript">

      function initialize() {

        var ll_worst1 = new google.maps.LatLng(<%=coords1[0]%>, <%=coords1[1]%>);

        var worst_string1 = "<%= "<h3>#{bad_r.name}</h3>#1 worst in #{bad_r.zip}<br><br>Extra 'flavor' with every meal!<p>" %>";

        var worst_info1 = new google.maps.InfoWindow({
          content: worst_string1
        });

        var mapOptions = {
          center: new google.maps.LatLng(<%=coords1[0]%>, <%=coords1[1]%>),
          zoom: 15
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);

        var marker_worst1 = new google.maps.Marker({
          position: ll_worst1,
          map: map,
          animation: google.maps.Animation.DROP,
          title: "#1 Worst Restaurant"
        }); 
 

        google.maps.event.addListener(marker_worst1, 'click', function() {
          worst_info1.open(map,marker_worst1);
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>
<body>
  <div id="content-below-bar">
    <div class="medium-6 small-block-grid-7 columns">
      <div class="_list rest_list">
        <h2><%= 
          if @restaurant.grade == "B"
            image_tag("b.jpg", class: "grade")
          elsif @restaurant.grade == "C"
            image_tag("c.jpg", class: "grade")
          else
            image_tag("pending.jpg", class: "grade")
          end %>
          Violation points: <%= @restaurant.score %>
        </h2>
        <ol>
          <% @restaurant.violations.each do |vio| %>
            <li><%= link_to vio.description, violation_path(vio) %>
            </li>
          <% end %>
        </ol>
      </div>
      <form method="POST" action="/restaurants/add_restaurant">
        <input type="hidden" name="restaurant_id" value="<%= @restaurant.id %>" />
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <button class="button">Add to Watchlist</button>
      </form>
      <a href="/restaurants" class="button [radius round]">Back to Restaurants Index</a>
    </div>
    <div class="medium-5 small-block-grid-5 columns">
      <div class="row">
        <div id="map-canvas">
        </div><br>
     </div>
      <div>
        <div class="medium-9 small-block-grid-9 restaurant-info">
          <h2><%= @restaurant.name %></h2>
          <h3><%= @restaurant.phone_num %></h3>
          <h3><%= "#{@restaurant.building_number} #{@restaurant.street_name}" %>
          <a href="/zipcodes/<%= @restaurant.zip %>"><%= @restaurant.zip %></a></h3>
          <% @restaurant.cuisines.each do |c| %>
          <h3><%= link_to c.description, cuisine_path(c) %></h3>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>