<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <%= render '/zipcodes/map' if content_for?(:zip_nav) %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "Avoid", root_url %></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li<%= yield(:rest_nav) if content_for?(:rest_nav) %>><%= link_to "Restaurant Search", restaurants_path %>
        </li>
          <li<%= yield(:zip_nav) if content_for?(:zip_nav) %>><%= link_to "Zipcode Search", zipcodes_path %></li>
          <li<%= yield(:vio_nav) if content_for?(:vio_nav) %>><%= link_to "Violation Search", violations_path %>
          </li>
          <li<%= yield(:cuis_nav) if content_for?(:cuis_nav) %>><%= link_to "Cuisine List", cuisines_path %></li>
          <li>
            <% if !signed_in? %>
              <%= link_to image_tag('active_200.png'), "/auth/facebook" %>
            <% else %>
              <li class="has-dropdown">  
                <a href="#">Hi, <%= current_user.name %>!</a>
                <ul class="dropdown">
                  <li><%= link_to "Log Out", "/signout" %></li>
                  <li><%= link_to "My Profile", user_path(current_user)%></li>
                </ul>
              </li>
            <% end %>
          </li>
        </ul>

        <!-- Left Nav Section -->
      </section>
    </nav>
    <p><%= yield %></p>
    <%= javascript_include_tag "application" %>
  </body>
</html>